node_modules
.DS_Store
static_file/*.hex
./log
compiler/tmk_keyboard
.dep/
*.log
*_temp/
keymap.db
server.js
*.db
bootstrap-4.0.0-alpha
*.zip
controller
bin/.dep/
bin/compiler
bin/keymap
bin/obj_*_temp
