<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- saved from url=(0014)about:internet -->
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="images/favicon.ico">

  <title>Keyboard Editor</title>

  <!-- Bootstrap core CSS -->
  <link href="stylesheets/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="stylesheets/sticky-footer.css" rel="stylesheet">
    <link href="stylesheets/blog.css" rel="stylesheet">
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="javascripts/ie10-viewport-bug-workaround.js"></script>

    <!-- Enable Browser History by replacing useBrowserHistory tokens with two hyphens -->
    <!-- BEGIN Browser History required section -->
    <link rel="stylesheet" type="text/css" href="stylesheets/history.css" />
    <script type="text/javascript" src="javascripts/history.js"></script>
    <!-- END Browser History required section -->

    <script type="text/javascript" src="javascripts/swfobject.js"></script>
    <script type="text/javascript">
        function resizeFlashContent(W,H){
            if(document.getElementById("WebEdit")){
                if(W && document.getElementById("WebEdit").width!=W){
                    document.getElementById("WebEdit").width=W;
                }

                if(H && document.getElementById("WebEdit").height!=H){
                    document.getElementById("WebEdit").height=H;
                }
            }
        }
    </script>
    <script type="text/javascript">
        // For version detection, set to min. required Flash Player version, or 0 (or 0.0.0), for no version detection.
        var swfVersionStr = "11.1.0";
        // To use express install, set to playerProductInstall.swf, otherwise the empty string.
        var xiSwfUrlStr = "playerProductInstall.swf";
        var flashvars = {"href":window.location.href,"kbtype":"<%= kbtype %>"};
        var params = {};
        params.quality = "high";
        params.bgcolor = "#eeeeee";
        params.allowscriptaccess = "sameDomain";
        params.allowfullscreen = "true";
        var attributes = {};
        attributes.id = "WebEdit";
        attributes.name = "WebEdit";
        attributes.align = "middle";
        swfobject.embedSWF(
                "Preloader.swf", "flashContent",
                "910", "500",
                swfVersionStr, xiSwfUrlStr,
                flashvars, params, attributes);
        // JavaScript enabled so display the flashContent div in case it is not replaced with a swf object.
        swfobject.createCSS("#flashContent", "display:block;text-align:left;");
    </script>
</head>

<body>
<div class="blog-masthead">
    <div class="container">
        <nav class="nav blog-nav">
            <p class="nav-link">EnjoyPBT 75固件编辑器</p>
        </nav>
    </div>
</div>


<div id="flashContent">
    <p>
        To view this page ensure that Adobe Flash Player version
        11.1.0 or greater is installed.
    </p>
</div>

<!-- Begin page content -->
<div class="container">
    <p>配列1: <a href="index2#epbt75_wkl">WKL(Winkeyless)</a> , 配列2: <a href="index2#epbt75_wk">WK(Winkey)</a> </p>
    <p class="lead">刷机方式：按下键盘PCB背部的刷机按钮，此时键盘会识别为U盘，点击编译固件后，将bin覆盖U盘中的固件然后按Esc键重启键盘即可。</p>
    <p class="lead"></p>
    <p><a class="btn btn-lg btn-success" href="https://item.taobao.com/item.htm?id=525518546501" role="button" target="_blank">购买75套件</a></p>
</div>
</br>
</br>
</br>
<footer class="footer">
    <div class="container">
        <p class="text-muted">Keyboard Fireware Editor v2.0, License to EnjoyPBT </p>
    </div>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
</body>
</html>
